/* Login.php */
html, body{
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 18px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.l-background{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/event.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box-login{
    position: absolute;
    top: 15%;
    left: 35%;
    display: inline-block;
    width: 500px;
    border-radius: 10%;
    height: 510px;
    background-color: azure;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.49);
}
.title-login{
    font-size: 40px;
    margin: 30px 0 15px 0;
}
.form-login{
    text-align: start;
}
.icon-username{
    width: 60px;
    height: 40px;
    background-color: none;
    line-height: 40px;
    vertical-align: middle;
    z-index: 4;
    border-radius: 20px 0px 0px 20px;
    margin-top: 3px;
    padding-left: 10px;
    font-size: 32px;
    opacity: 0.7;
}

.icon-password{
    width: 60px;
    height: 40px;
    background-color: none;
    line-height: 40px;
    vertical-align: middle;
    z-index: 4;
    border-radius: 20px 0px 0px 20px;
    margin-top: 3px;
    padding-left: 10px;
    font-size: 32px;
    opacity: 0.7;
}

.form-custom{
    padding: 3px;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.49) inset;
}

.form-custom-input{
    width: 100%;
    background-color: #f0ffff;
    border: none;
    height: 39px;
    line-height: 40px;
    margin-top: 3px;
    border-radius: 0px 20px 20px 0px;
    vertical-align: middle;
    padding-left: 10px;
}

.checkbox{
    font-size: 16px;
}

.forgetPass{
    display: inline-block;
    margin-left: 100px;
    font-size: 18px;
    text-decoration: none;
}