html, body {
    margin: 0;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

/* Navbar */
.navbar {
    position: fixed;
    display: block;
    width: 100%;
    height: 160px;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.navbar-before {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(3px);
    z-index: -1;
    transition: all 0.3s ease;
}

.navbar-before.scrolled {
    background: rgb(0,155,245);
    filter: blur(2px);
    background: linear-gradient(11deg, rgba(0,155,245,1) 0%, rgba(0,255,253,1) 40%, rgba(0,212,255,1) 100%);
}

.navbar.scrolled {
    height: 100px;
}

.logo.scrolled {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.title-home.scrolled {
    font-size: 40px;
    text-align: start;
    line-height: 60px;
    vertical-align: middle;
    -webkit-text-stroke: 0px #fff;
    color: #fff;
    margin-left: 5px;
}

.title-home-hidden.scrolled {
    font-size: 0px;
    line-height: 0px;
    z-index: -99;
}

.btn-navigation.scrolled {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 20px;
    padding: 10px 30px;
    background: #009bf5;
    z-index: 2;
    color: #fff;
    border: 2px solid #009bf5;
    border-radius: 5px;
}

.btn-navigation.scrolled:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}

.logo {
    margin: 3px 20px;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.29);
    z-index: 200;
    transition: all 0.3s ease-out;
}

.title-home {
    font-size: 45px;
    font-weight: bolder;
    text-align: start;
    line-height: 50px;
    margin-top: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #009bf5;
    z-index: 2;
    margin-left: 15px;
    transition: all 0.3s ease-out;
}

.title-home-hidden {
    font-size: 45px;
    font-weight: bolder;
    text-align: start;
    line-height: 50px;
    margin-top: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #009bf5;
    z-index: 2;
    margin-left: 15px;
}

.btn-navigation {
    font-size: 18px;
    font-weight: bold;
    margin: 40px 20px;
    padding: 10px 30px;
    background: none;
    z-index: 2;
    color: #009bf5;
    border: 2px solid #009bf5;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.btn-navigation:hover {
    background-color: #009bf5;
    border: 2px solid #009bf5;
    color: #fff;
}

.i-banner {
    position: relative;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.i-pre-image-btn,
.i-next-image-btn {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 100px;
    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.09);
    filter: blur(1px);
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.i-pre-image-btn {
    position: absolute;
    left: 0;
    padding-right: 10px;
}

.i-next-image-btn {
    position: absolute;
    right: 0;
    padding-left: 10px;
}

.i-pre-image-btn:hover,
.i-next-image-btn:hover {
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.49);
    filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
}

.i-dot-change-image {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 200px;
    height: 30px;
}

.i-dot-fill {
    display: inline-block;
    color: #fff;
    opacity: 0.9;
    margin: 5px;
}

.i-dot {
    display: inline-block;
    color: #fff;
    opacity: 0.49;
    margin: 5px;
}

.i-title {
    display: block;
    padding-right: 50px;
    font-size: 25px;
    letter-spacing: 3px;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    border-radius: 10px 0 0 10px;
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    background-color: #009bf5;
}

/* Footer */
.i-footer {
    height: auto;
    padding-top: 50px;
    background-color: #000;
    padding-bottom: 20px;
}

.i-footer-item-contact {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    text-align: start;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
}

.i-footer-icon {
    position: absolute;
    inset: 0;
    scale: 1.1;
    width: 30px;
}

.nav-link{
    color: #009bf5!important;
}
.nav-link:hover{
    color: #fff!important;
}
.nav-link.scrolled{
    color: #fff!important;
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 150px;
    }
    .navbar-before{
        height: 150px;
    }
    .logo {
        width: 80px;
        height: 80px;
        margin: 0;
    }
    .title-home {
        font-size: 30px;
        line-height: 30px;
    }
    .title-home-hidden{
        font-size: 30px;
        line-height: 30px;
        margin-left: 0px;
    }
    .btn-navigation {
        font-size: 14px;
        margin: 10px 10px;
        padding: 5px 15px;
    }
    .i-pre-image-btn:hover,
    .i-next-image-btn:hover {
        width: 30px;
        height: 50px;
        top: 10%;
        font-size: 15px;
    }
    
}